@import "tailwindcss";

@theme {
  --color-primary: #D32F2F;
  --color-primary-dark: #B71C1C;
  --color-secondary: #1A237E;
  --color-secondary-light: #283593;
  --color-accent: #F9A825;
  --color-bg-light: #F5F5F5;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #212121;
  background-color: #ffffff;
}
